# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual Environments
venv/
ENV/
env/
*.env

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# Mac OS metadata files
.DS_Store

# Logs and local files
*.log
.trading_bot.log

# Python egg metadata
*.egg-info/
.eggs/

# Test results
htmlcov/
.tox/
.nox/
.coverage
coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Other
*.sqlite3
